<h1 class="uk-heading-line uk-text-center"><span>Advertisements</span></h1>
<div class="uk-placeholder uk-text-center">Ad Here</div>
<div class="uk-child-width-1-3@m" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 300; repeat: true">
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Ad Here</h3>
            <p><br /> ad_id: left</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy-class="uk-animation-slide-top">
            <h3 class="uk-card-title">Ad Here</h3>
            <p><br /> ad_id: center</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Ad Here</h3>
            <p><br /> ad_id: right</p>
        </div>
    </div>
</div>
