<div>
    <div class="uk-card uk-card-body">
        <h3 class="uk-card-title">Welcome...</h3>
        <p>Nothing here to see, just a placeholder, paste the url into discord and you'll see the embed :)</p>
    </div>
</div>
